<app-header></app-header>

<div class="container">

    <h1>Publica lo que necesitas</h1>

    <div class="contenedorForm">
        <div class="imagenes">
            <uploader></uploader>

        </div>
        <div class="detalle">
            <div class="content-input">
                <label>Nombre Producto: </label>
                <input type="text" [(ngModel)]="formdata.title" name="title" placeholder="Nombre Producto">
            </div>
            <div class="content-input">
                <label>Descripción: </label>
                <input type="text" [(ngModel)]="formdata.description" name="description" placeholder="Descripción">
            </div>
            <label>Tipo: </label>
            <div class="content-input contCheckbox">
                    <button [ngClass]="{'whiteBtn ': formdata.type=='Donar'}" (click)="formdata.type='Donar'" >Donar</button>
                    <button [ngClass]="{'whiteBtn': formdata.type=='Recibir'}" (click)="formdata.type='Recibir'">Recibir</button>
                
            </div>
            <div class="content-input">
                    <label>Fecha de vencimiento: </label>
                    <input type="date" [(ngModel)]="formdata.expirationDate" name="expirationDate"
                        placeholder="Fecha de vencimiento">
                </div>
        </div>
        <div class="mapa">
            <label>Dirección: </label>

            <div class="continputbutton">
                <input type="text" class="inputmapa" [(ngModel)]="address" name="address" placeholder="Direccion">
                <button (click)="addressToCoordinates()">Buscar</button>
            </div>
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">

                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>

            </agm-map>
            
            <br>
            <p class="btncontainer">
                <button class="whiteBtn "type="submit" value="" [routerLink]="[ '/' ]" >Cancelar </button>
                <button type="submit" value="Enviar" (click)="savePost()">Enviar </button>
            </p>
        </div>
    </div>


</div>