<app-header></app-header>

<div class="container">
    
    <h1>New post</h1>

    <!--
    title
    description
    image
    address
    lat
    lng
    type
    expirationDate
    idUser
    -->
    {{formdata | json}}
    <form action="">
            <div class="content-input">
                    <label>Titulo:  </label>
                    <input type="text"[(ngModel)]="formdata.title" name="title"  placeholder="titulo">
                </div>
            <div class="content-input">
                    <label>Descripción: </label>
                    <input type="text" [(ngModel)]="formdata.description" name="description" placeholder="Descripción">
                </div>
            <div class="content-input">
                    <label>Tipo: </label>
                    <input type="text" [(ngModel)]="formdata.type" name="type" placeholder="Tipo de solicitud">
                </div>
                <uploader></uploader>
            <div class="content-input">
                <label>Dirección: </label>
                <button (click)="addressToCoordinates()">buscar</button>

                <input type="text" [(ngModel)]="address" name="address" placeholder="Direccion" >
                <agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false">

  <agm-marker 
      [latitude]="lat"
      [longitude]="lng"></agm-marker>
    
    </agm-map>
            </div>
            <div class="content-input">
                <label>Expiration Date: </label>
                <input type="date" [(ngModel)]="formdata.expirationDate" name="expirationDate" placeholder="expirationDate">
            </div>

            <button type="submit" value="Enviar" (click)="savePost()">Enviar </button>
    </form>

</div>
