<article class="post">
    <div class="post-image">
        <img src="" onerror="this.onerror=null; this.src='assets/img/default.png'" alt="Description">
    </div>
    <div class="post-container">
        <div class="post-container-detail">
            <p class="post-container-detail-date">21/02/2019</p>
            <h3 class="post-container-detail-title">Post Title</h3>
            <p class="post-container-detail-description">Post Title</p>
        </div>
        <div class="post-container-more">
            <button class="post-container-more-button">Pedir</button>
        </div>
    </div>
</article>