<app-header></app-header>
<main class="posts">
    <h1 class="posts-title">PLAZOLETA DE PRODUCTOS</h1>
    <section class="container">
        <div class="posts-search">
            <div class="posts-search-input">
                <input type="text" placeholder="Buscar producto" name="" id="">
            </div>
            <div class="posts-search-buttons">
                <button>Donar</button>
                <button disabled>Recibir</button>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="posts-items">
            <div class="posts-items-item" *ngFor="let post of posts">
                <app-post-card [post]="post"></app-post-card>
            </div>
        </div>
    </section>
</main>