<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Inicar Sesión</h2>
  <div class="content-input">
    <label>Correo</label>
    <input
      formControlName="email"
      type="email"
      placeholder="Email"
      autocomplete="off"
    />

    <p *ngIf="email.invalid && email.dirty">
      Debes ingresar un correo válido
    </p>
  </div>

  <div class="content-input">
    <label>Contraseña</label>
    <input
      formControlName="password"
      type="password"
      placeholder="Password"
      autocomplete="off"
    />

    <p *ngIf="password.invalid && password.dirty">
      La contraseña debe tener mínimo 6 caracteres
    </p>
  </div>
  {{ serverMessage }}<br/>
  <button
    type="submit"
    [disabled]="loading"
    class="button primary-button"
  >
    Ingresar
  </button>
</form>
