:root{
    --primary: #ff0000;
    --fontDark: #00000;
    --border-radius: 6px;
}

html, body { height: 100%; }
body { margin: 0; font-family: sofia-pro, sans-serif; }
a {
    color: white;
    text-decoration: none;
}

*{
    box-sizing: border-box;
}

.button{
    display: inline-block;
    padding: 8px 30px;
    color: var(--fontDark);
    border-radius: var(--border-radius);
}

.primary-button{
    background-color: var(--primary);
}

.container{
    margin: auto;
    width: 100%;
    padding: 0 16px;
    max-width: 1170px;
}


.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    min-width: 80vw;
    font-weight: 200;
    height: 100px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
  
    &.hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }
  
    .file-label {
        font-size: 1.2em;
    }
  }
  
  progress::-webkit-progress-value {
    transition: width 0.1s ease;
  }


  agm-map {
    height: 300px;
  }