:root{
    --primary: #ff0000;
    --fontDark: #00000;
    --border-radius: 6px;
}

html, body { height: 100%; }
body { margin: 0; font-family: sofia-pro, sans-serif; }
a {
    color: white;
    text-decoration: none;
}

*{
    box-sizing: border-box;
}

.button{
    display: inline-block;
    padding: 8px 30px;
    color: var(--fontDark);
    border-radius: var(--border-radius);
}

.primary-button{
    background-color: var(--primary);
}

.container{
    margin: auto;
    width: 100%;
    padding: 0 16px;
    max-width: 1170px;
}